* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --foreground: #2d8dc9;
  --background: #c7eaff;
  --bar: #3aabf1;
  --shadow: #a8b6bd;
  --inactive-foreground: #a3acb0;
  --inactive-background: #f8f8f8;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Open Sans', sans-serif;
}

.top-nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -8px;
  padding: 0;
  overflow: hidden;
  background-color: var(--bar);
  box-shadow: 0px 1px 5px var(--shadow);
}

.top-nav-bar a {
  padding: 14px 16px;
  color: var(--white);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.top-nav-bar a:hover {
  background-color: var(--foreground);
}

.top-nav-bar a.active {
  opacity: 0.7;
}

.sticky {
  position: fixed;
  top: 8px;
  width: 100%;
}

.sticky + .div-main-content {
  padding-top: 89px;
}

p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

a {
  font-size: 12px;
}

.div-top,
.div-bottom {
  margin-top: 10px;
  margin-bottom: 10px;
}

.div-banner {
  background-image: url(images/banner.png);
  background-position: center;
  margin: -5px 10% -5px 10%;
  min-height: 50px;
  min-width: 653px;
}

.div-intro {
  background-color: var(--white);
  padding: 30px 30px 35px 30px;
  margin: 20px 10% 20px 10%;
  border-radius: 7px;
  box-shadow: 0px 1px 5px var(--shadow);
  min-width: 653px;
}

.div-intro-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 23px;
  row-gap: 30px;
}

.div-hello {
  display: grid;
  grid-template-columns: 40% 1fr;
  column-gap: 20px;
  text-align: left;
  margin-left: -10px;
  border-right: 1px solid var(--foreground);
}

.div-hello-text {
  vertical-align: top;
  padding-right: 30px;
}

.div-about {
  padding-left: 20px;
  padding-right: 20px;
}

.div-projects {
  background-color: var(--white);
  padding: 30px 30px 40px 30px;
  margin: 20px 10% 20px 10%;
  border-radius: 7px;
  box-shadow: 0px 1px 5px var(--shadow);
  min-width: 653px;
}

.div-projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 30px;
}

.portrait {
  max-width: 100%;
  max-height: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  margin-top: 5px;
  margin-left: -5px;
}

.p-top-nav-bar {
  margin: 20px 0px 10px 0px;
  color: var(--white);
  font-family: 'Bodoni Moda', serif;
  font-size: 24px;
  text-align: center;
}

.p-hello {
  font-size: 24px;
  margin-bottom: 10px;
}

.p-who {
  font-size: 16px;
}

.p-about-title,
.p-projects-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.p-about-text {
  font-size: 16px;
  line-height: 27px;
}

.p-project-name {
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.p-project-text {
  width: 100%;
  margin-left: 10px;
  margin-bottom: 25px;
  line-height: 20px;
  min-height: 60px;
}

.inactive-link {
  background-color: var(--inactive-background);
  color: var(--inactive-foreground);
  border: 1px solid var(--inactive-foreground);
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
}

.project-link {
  background-color: var(--white);
  color: var(--foreground);
  border: 1px solid var(--foreground);
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
}

.project-link:hover {
  background-color: var(--foreground);
  color: var(--white);
}

.project-link:active {
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  /* .top-nav-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  } */

  .div-banner {
    min-width: 0px;
  }

  .div-intro {
    min-width: 0px;
  }

  .div-intro-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .div-hello {
    border-right: none;
    border-bottom: 1px solid var(--foreground);
    padding: 0px 0px 2em 0px;
  }

  .div-projects {
    min-width: 0px;
  }

  .div-projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .div-project {
    padding: 0px 1em 3em 1em;
  }

  .div-project + .div-project {
    border-top: 1px solid var(--foreground);
  }
}