body {
  background-color: #c7eaff;
  color: #2d8dc9;
  font-family: 'Open Sans', sans-serif;
}

.top-nav-bar {
  margin: -8px;
  padding: 0;
  overflow: hidden;
  background-color: #3aabf1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.top-nav-bar a {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.top-nav-bar a:hover {
  background-color: #2d8dc9;
}

.top-nav-bar a.active {
  opacity: 0.7;
}

p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

a {
  font-size: 12px;
}

.div-top,
.div-bottom {
  margin-top: 10px;
  margin-bottom: 10px;
}

.div-banner {
  background-image: url(images/banner.png);
  background-position: center;
  margin: -5px 10% -5px 10%;
  min-height: 50px;
  min-width: 653px;
}

.div-intro {
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
  margin: 20px 10% 20px 10%;
  border-radius: 7px;
  box-shadow: 0px 1px 5px #a8b6bd;
  min-width: 653px;
}

.div-intro-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 23px;
  row-gap: 30px;
}

.div-hello {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 10px;
  text-align: left;
  margin-left: -10px;
  border-right: 1px solid #2d8dc9;
}

.div-hello-text {
  vertical-align: top;
  padding-right: 20px;
}

.div-about {
  padding-left: 20px;
  padding-right: 20px;
}

.div-projects {
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
  margin: 20px 10% 20px 10%;
  border-radius: 7px;
  box-shadow: 0px 1px 5px #a8b6bd;
  min-width: 653px;
}

.div-projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 30px;
}

.portrait {
  max-width: 100%;
  max-height: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  margin-top: 5px;
  margin-left: -5px;
}

.p-top-nav-bar {
  margin: 20px 0px 10px 0px;
  color: #ffffff;
  font-family: 'Bodoni Moda', serif;
  font-size: 24px;
  text-align: center;
}

.p-hello {
  font-size: 24px;
  margin-bottom: 10px;
}

.p-who {
  font-size: 16px;
}

.p-about-title,
.p-projects-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.p-about-text {
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 27px;
}

.p-project-name {
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.p-project-text {
  width: 100%;
  margin-left: 10px;
  margin-bottom: 25px;
  line-height: 20px;
  min-height: 45px;
}

.github-link,
.project-link {
  background-color: #ffffff;
  border-color: #2d8dc9;
  color: #2d8dc9;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

.project-link {
  margin-left: 10px;
}

.github-link:hover,
.project-link:hover {
  background-color: #2d8dc9;
  color: #ffffff;
}

.github-link:active,
.project-link:active {
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  .top-nav-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .div-banner {
    min-width: 0px;
  }

  .div-intro {
    min-width: 0px;
  }

  .div-intro-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .div-hello {
    border-right: none;
    border-bottom: 1px solid #2d8dc9;
    padding: 0px 0px 2em 0px;
  }

  .div-projects {
    min-width: 0px;
  }

  .div-projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .div-project {
    border-bottom: 1px solid #2d8dc9;
    padding: 0px 1em 3em 1em;
  }
}